
* {                                                                                                                                                                                                         
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

p {
    color: #6b7280;
    font: size 16px; 
    font-weight: 400;
}
/* Navbar-header */

.headerContainer {
    height: 74px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 7px 6px 0px rgba(229,230,230,1);
    -moz-box-shadow: 0px 7px 6px 0px rgba(229,230,230,1);
    box-shadow: 0px 7px 6px 0px rgba(229,230,230,1);
}

.logo { 
    width: 150px;
}

.linkContainer {
    display: flex;
    gap: 32px;
}

.linkContainer a {
    color: #6b7280;
    text-decoration: none;
    font-weight: 500;
}

.linkContainer a:hover {
    color: #6366f1;
}

.buttonsContainer {
display: flex;
gap: 12px;
}

.loginButton {
    color: #6366f1;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 16px;
    background-color: #eef2ff;
    border-radius: 8px;
    border: none;
}

.loginButton:hover{
    background-color: #e0e7ff;
}

.getTalknotes {
    color: #eef2ff;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 16px;
    background-color: #4f46b5;
    border-radius: 8px;
    border: none;
}

/* Section 1 */

section {
    padding: 34px 90px 90px;
}

.imageAward {
    width: 120px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

.sloganh2 {
    font-size: 24px;
    font-weight: 600;
    background: linear-gradient(to right, #ff00ac, #ffe207);
    -webkit-background-clip: text; /* Recorta el gradiente al texto */
    -webkit-text-fill-color: transparent; /* Hace el color del texto transparente */
}

.available {
    color: #9ca3af;
    font-weight: 600;
    font-size: 14px;
}

.workIn {
    color: #4b5563;
    font-weight: 600;
    font-size: 14px;
}

.listContainer {
    display: flex;
    gap: 16px;
    color: #6366f1;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
}

.eng {
    background-color:#eef2ff ;
    padding: 1px 8px;
    border-radius: 100px;
}

.es {
    background-color:#eef2ff ;
    padding: 1px 8px;
    border-radius: 100px;
}

.fr {
    background-color:#eef2ff ;
    padding: 1px 8px;
    border-radius: 100px;
}

.ger {
    background-color:#eef2ff ;
    padding: 1px 8px;
    border-radius: 100px;
}

.nl {
    background-color:#eef2ff ;
    padding: 1px 8px;
    border-radius: 100px;
}

.jp {
    background-color:#eef2ff ;
    padding: 1px 8px;
    border-radius: 100px;
}

.getTalknotes2 {
    color: #eef2ff;
    background-color:#ff00ac;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
}

.section1Image {
    width: 502px;
    height: 660px;
}